.content {
  flex: 1;
  overflow-y: auto;
  height:100%;
  width: 100%;

  /* background-color: var(--color-grey-50);; Light gray background */
/* background: red; */


}

.layout{
  display: flex;
  /* background: var(--color-background-paper); */
}

