
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.form {
  width: 100%;
}
.paper {
  background: var(--color-background-paper);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
}
.paper h1 {
  font-weight: bold;
  color: var(--color-secondary-contrast);
  margin-bottom: 24px;
  align-self: flex-start;
}
